body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  .post {
    width: 20%;
    padding: 20px;
    margin: 5%;
    box-shadow: 0px 0px 23px -10px rgba(0, 0, 0, 0.75);

    &__head {
      margin: 10% 0;
      text-align: center;
      text-transform: capitalize;

      img {
        clip-path: circle(50% at 50% 50%);
      }
    }

    &__content {
      margin: 2% 5%;
      display: flex;

      b {
        margin: 0 5px;
      }
    }
  }
}
